/* twitch-dl-interface/frontend/css/styles.css */
:root {
    --primary-color: #1db954;
    --secondary-color: #535353;
    --background-color: #121212;
    --tile-background-color: #1e1e1e;
    --text-color: #ffffff;
    --nav-item-hover-color: #282828;
    --border-radius: 8px;
    --error-color: #e74c3c; /* Error message color */
    --success-color: #2ecc71; /* Success message color */
}

/* General Styles */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Back button styling 
.back-button {
    display: none; 
    position: absolute;
    left: 20px; 
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: var(--secondary-color);
} */


body:not(.home-page) .back-button {
    display: inline-block; 
}

/* Navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--background-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.nav-items {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-items a {
    color: var(--text-color);
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
    transition: background-color 0.3s ease;
}

.nav-items a:hover {
    background-color: var(--nav-item-hover-color);
}

/* Footer Styling */
footer {
    background-color: var(--background-color);
    color: var(--text-color);
    text-align: center;
    padding: 1rem;
    margin-top: auto;
}

a {
    color: var(--primary-color); /* Light blue for links */
    text-decoration: none;
}
a:hover {
    color: var(--secondary-color); /* Slightly darker blue on hover */
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
}

button {
    background-color: var(--primary-color);
    border: none;
    color: var(--text-color);
    padding: 10px 20px;
    font-size: 1em;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--secondary-color);
}

input[type="text"], input[type="password"], textarea {
    background-color: var(--tile-background-color);
    border: 1px solid var(--secondary-color);
    color: var(--text-color);
    padding: 10px;
    border-radius: var(--border-radius);
    margin: 10px 0;
}

input[type="text"]:focus, input[type="password"]:focus, select:focus {
    border-color: var(--primary-color);
    outline: none;
}

main {
    padding: 2em;
    flex: 1;
}

/* Channel and Stream Info */
.channel-info {
    display: flex;
    align-items: center;
    background-color: var(--tile-background-color);
    border-radius: var(--border-radius);;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Soft shadow */
    transition: transform 0.3s ease; /* Smooth hover transition */
}
.channel-info:hover {
    transform: translateY(-2px); /* Slightly enlarge on hover */
}
.channel-info img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-right: 15px;
}
.channel-info .channel-details, .channel-info .stream-details {
    flex: 1;
}
.channel-info .live-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 15px;
}
.live-indicator.live {
    background-color: #ff6f61; /* Red for live indicator */
}
.live-indicator.offline {
    background-color: #a9a9a9; /* Gray for offline indicator */
}
/* Stream Thumbnail */
.channel-info .stream-thumbnail {  /* More specific selector */
    width: 100%;
    height: auto;
    max-width: 320px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 10px;
}

/* Text and Details */
.channel-details h2, .stream-details h2 {
    margin: 0;
    font-size: 1.3em;
    color: #fff;
}
.channel-details p, .stream-details p {
    margin: 10px 0;
    color: #b0b0b0; /* Lighter text color for details */
}

/* General Styles */
.hidden {
    display: none;
}
.error {
    border: 1px solid #f44336;
}
.error-message {
    color: var(--error-color);
    font-size: 0.9em;
}

.success-message {
    color: var(--success-color);
    font-size: 0.9em;
}
.channel-link, .stream-link {
    display: block;
    color: inherit;
    text-decoration: none;
}

/* Settings Tile Styling */
.settings-tile {
    background-color: var(--tile-background-color);
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
}

.setting-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.setting-item label {
    flex: 1;
}

.setting-item input, .setting-item span, .setting-item button {
    flex: 2;
    margin-left: 10px;
}

.apply-button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.apply-button {
    background-color: var(--success-color);
    border: none;
    color: var(--text-color);
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.apply-button:hover {
    background-color: var(--secondary-color);
}

/* Dark Mode Specific */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #181818; /* Darker background for dark mode */
    }
}

/* For mobile responsiveness */
@media (max-width: 768px) {
    .nav-items {
        flex-direction: column;
        align-items: flex-start;
    }

    .back-button {
        font-size: 1.2rem;
    }

    .container {
        padding: 0 1em; /* Adding padding for smaller screens */
    }
}