<!-- frontend/templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}TwitchDL Interface{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="/static/js/scripts.js" defer></script>
</head>
<body class="{{ 'home-page' if request.endpoint == 'main' else '' }}">
    <div class="container">
        <header>
            <nav class="navbar">
                <button id="back-button" class="back-button">←</button>
                <ul class="nav-items">
                    <li><a href="{{ url_for('main') }}">Home</a></li>
                    <li><a href="{{ url_for('search') }}">Search</a></li>
                    <li><a href="{{ url_for('favorites') }}">Favorites</a></li>
                    <li><a href="{{ url_for('settings') }}">Settings</a></li>
                </ul>
            </nav>
        </header>

        <main>
            {% block content %}{% endblock %}
        </main>
    
        <footer>
            <p>&copy; 2024 TwitchDL Interface. All rights reserved.</p>
        </footer>

        <script>
            document.addEventListener('DOMContentLoaded', function() {
            const backButton = document.getElementById('back-button');
            
            // Hide the back button on the home page
            if (window.location.pathname === '/') {
                backButton.style.display = 'none';
            } else {
                backButton.style.display = 'inline-block';
            }

            backButton.addEventListener('click', function() {
                if (document.referrer && document.referrer.indexOf(window.location.host) !== -1) {
                    window.history.back();
                } else {
                    window.location.href = '/';
                }
            });
        });
        </script>
    </div>
</body>
</html>